.vagrant/
*.pyc
.DS_Store
pytorch-test/shared/deep/DCGAN/sample-data/jpg/*.jpg
pytorch-test/shared/deep/DCGAN/Generated_Image/*.jpg
pytorch-test/shared/deep/DCGAN/Weight_Discriminator/*.pth
pytorch-test/shared/deep/DCGAN/Weight_Generator/*.pth
pytorch-test/shared/models.pyc
