{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!-- Bootstrap core JavaScript(jQuery)
    ================================================== -->
    <script>
        $(document).ready(function(){
        $('.display-4').hide().fadeIn(1500);
        $('img').hide().fadeIn(1500);
        $('p').hide().fadeIn(2000);
    });
    </script>
    <!-- end
    ================================================== -->
    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h1 class="display-4">このプロジェクトについて</h1>
            <div class="my-2">
                <img style="max-width: 800px; width: 100%;" src="{{ url_for('static', filename='img/flask+pytorch+jphacks.png') }}" alt="">
            </div>
            <p class="lead">私たちのアプリケーションでは、博物館に収蔵されているアイヌの木綿衣の文様を機械学習することで、アプリケーション内でオリジナルの文様を自動生成できるようにしました。<br> <a
                    href="https://github.com/jphacks/A_2004"> View on GitHub</a></p>
        </div>
    </div>
</div>
{% endblock %}