{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!-- Bootstrap core JavaScript(jQuery)
    ================================================== -->
    <script>
        $(document).ready(function(){
        $('#GenImage1').hide().fadeIn();
        $('.display-4').hide().fadeIn(1000);
    });
    </script>
    <!-- end
    ================================================== -->
    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h2>生成した模様一覧</h2>
            <div class="my-2">
                <img id= "GenImage1" style="max-width: 600px; width: 100%;" src="{{ url_for('static', filename='img/books.jpg') }}" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}