{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!-- Bootstrap core JavaScript(jQuery)
    ================================================== -->
    <script>
        $(document).ready(function(){
        $('img').hide().fadeIn();
        $('.display-4').hide().fadeIn(1000);
    });
    </script>
    <!-- end
    ================================================== -->
    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h1 class="display-4">Test page</h1>
            <div class="my-2">
                <img style="max-width: 600px; width: 100%;" src="{{ url_for('static', filename='img/books.jpg') }}" alt="">
            </div>
            <p class="lead">ここはconfirmです
            </p>
        </div>
    </div>
</div>
{% endblock %}