{% extends 'base.html' %}

{% block content %}
<div class="row">
  <!-- Bootstrap core JavaScript(jQuery)
    ================================================== -->
    <script>
      $(document).ready(function(){
      $('.display-4').hide().fadeIn(1500);
      $('h2').hide().fadeIn(2000);
      $('.lead').hide().fadeIn(2500);
  });
  </script>
  <!-- end
  ================================================== -->
  <div class="col-sm-8 offset-sm-2">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Deep AInu</h1>
      <h2>機械学習を使ってあなたの文章から世界に一つだけのアイヌ文様を！</h2>
      <p class="lead">アイヌ民族文化を社会の全ての人にとってより身近なものにしたい
        　北海道は古来よりアイヌ民族という先住民族が住んできた土地であり、日本の中でもアイヌ文化に親しみが湧きやすい地域です。 <br>
        しかしながら、アイヌ文化を熟知している人の数が限られていることから日常的にアイヌ文化と接する機会は不十分であり、
        北海道に在住している場合でも、アイヌ文化を理解することはいまだハードルが高い状態が続いています。 <br>
        このことから、アイヌ民族の文化を効果的に発信および継承することを可能とするアプリケーションを開発しました。 <br> <a
          href="https://github.com/imadtoubal/Pytorch-Flask-Docker-App"> View on GitHub</a></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="mb-2 col-md-6 offset-md-3">
    <form action="/infer" method="POST" enctype="multipart/form-data">
      <div class="input-group">
        <div class="custom-file">
          <input type="file" name="file" accept=".jpg, .jpeg, .png" class="custom-file-input" id="inputGroupFile"
            aria-describedby="inputGroupFileAddon04">
          <label class="custom-file-label" for="inputGroupFile">Choose file</label>
        </div>
        <div class="input-group-append">
          <input type="submit" value="Upload"  class="btn btn-outline-secondary" type="button"
            id="inputGroupFileAddon04" /> 
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3 my-5">
      <center>
        <p class="text-muted">
          By default, this app uses MobileNetV2 image classifier that was pre-trained on the ImageNet dataset.
          This can be easily changed with any custom deep learning model.あ
        </p>
      </center>
    </div>
  </div>
</div>
{% endblock %}
