
{% extends 'base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script>
        $(document).ready(function(){
        $('.my-2').hide().fadeIn(1000);
        $('a').hide().fadeIn(1500);
        $('p').hide().fadeIn(2000);
        });

        $('img').hover(function (){
            $("#sample").animate({width:"500px"},1000,"easeInOutExpo");
            //$('.text-white').fadeIn();
        },function (){
            $("#sample").animate({width:"64px"},1000,"easeInOutExpo");
            //$('.text-white').fadeOut();
        });
    </script>

    <script type="text/javascript">
    jQuery(document).ready(function($) {
    
        // opacityrollover のオプション設定
        var onMouseOutOpacity = 0.67;  // マウスアウト時の透明度
        $('#thumbs ul.thumbs li').opacityrollover({
            mouseOutOpacity:   onMouseOutOpacity,
            mouseOverOpacity:  1.0,
            fadeSpeed:         'fast',
            exemptionSelector: '.selected'
        });
    
        // Galleriffic のオプション設定
        var gallery = $('#thumbs').galleriffic({
        delay: 2000, // 画像が切り替わる時間
        numThumbs: 10, // 1画面に表示させるサムネイルの数
        preloadAhead: 10, // プリロードする画像数
        enableTopPager: false, // サムネイルの上部のページャーを出す/出さない
        enableBottomPager: true, // サムネイルの下部のページャーを出す/出さない
        maxPagesToShow: 5, // ページの最大値
        imageContainerSel: '#slideshow', // スライドショー画像部分のid名
        controlsContainerSel: '#controls', // コントロール部分のid名
        captionContainerSel: '#caption', // キャプション部分のid名
        loadingContainerSel: '#loading', // ローディング部分のid名
        renderSSControls: true, // trueでスライドショー画像の上部にスライドショーのオンオフボタン表示
        renderNavControls: true, // trueでスライドショー画像の上部に画像送り戻しのボタン表示
        playLinkText: 'Slideshowを再生する', // コントローラーのplayのテキスト変更
        pauseLinkText: 'Slideshowを停止する', // コントローラーのPauseのテキスト変更
        prevLinkText: '&amp;amp;amp;amp;lsaquo; 前の画像', // コントローラーの前の画像へのテキスト変更
        nextLinkText: '次の画像 &amp;amp;amp;amp;rsaquo;', // コントローラーの次の画像へのテキスト変更
        nextPageLinkText: 'Next &amp;amp;amp;amp;rsaquo;',　// コントローラーの次ページへのテキスト変更
        prevPageLinkText: '&amp;amp;amp;amp;lsaquo; Prev',　// コントローラーの前ページへのテキスト変更
        enableHistory: false,
        autoStart: true, // 自動再生するかしないか
        syncTransitions: true,
        defaultTransitionDuration: 900,
        onSlideChange: function(prevIndex, nextIndex) {
        // 'this' refers to the gallery, which is an extension of $('#thumbs')
        this.find('ul.thumbs').children()
        .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
        .eq(nextIndex).fadeTo('fast', 1.0);
        },
        onPageTransitionOut: function(callback) {
        this.fadeTo('fast', 0.0, callback);
        },
        onPageTransitionIn: function() {
        this.fadeTo('fast', 1.0);
        }
        });
    });
    </script>
    <!-- end
    ================================================== -->

    <p class="lead">生成されたオリジナルの文様画像<br></p>
    
    <!-- スライドショー部分ここから -->
    <div id="gallery" class="content">
    <div id="controls" class="controls"></div>
    <div id="nav" class="controls"></div>
    <!-- ↑コントロラー（次へ前へボタンなど）表示部分 -- >
    <div class="slideshow-container">
    <!-- ↑スライドショー画像表示部分 -->
    <div id="loading" class="loader"></div>
    <!-- ↑ローディング表示部分 -->
    <div id="slideshow" class="slideshow"></div>
    <!-- ↑スライドショー画像表示部分 -->
    </div>
    <div id="caption" class="caption-container"></div>
    <!-- ↑キャプション部分 キャプション付けたい時記入する -->
    </div>
    <!-- スライドショー部分ここまで -->
    
    <!-- サムネイル部分ここから -->

    <div id="thumbs" class="navigation  col-xs-6">
        <ul class="thumbs noscript">
            <li id="innerIMG_li" width="300">
                <a class="thumb" id="innerIMG_a" name="leaf" href="static/out/0.jpg" title="Title #0">
                    <img src="static/out/0.jpg" alt="Title #0" width="100"/>
                </a>
                <!-- <div class="caption">DescriptionA</div> -->
            </li>
        </ul>
    </div>
    <!-- サムネイル部分ここまで -->

    <p class="mt-5"> <a href="/">もう一度作成する</a></p>
</div>

<!--フォルダ内画像一覧表示部ここから -->
    <script type=text/javascript>   
        var innerIMG_a = document.getElementById('innerIMG_a');
        var innerIMG_li = document.getElementById('innerIMG_li');
        var innerIMG_plus = document.createElement('innerIMG_plus');

        for(var num1=0; num1< 64; num1++){ //64は生成画像のファイル数
            var url1 = 'static/out/' + num1 + '.jpg';
            innerIMG_plus.innerHTML = '<a><img src=" ' + url1 + '" alt="Title #0" width="100"/></a>';
            console.log(url1)
            var innerIMG_plus = document.createElement('innerIMG_plus'+num1);
            innerIMG_a.appendChild(innerIMG_plus);
        }
        
    </script>
<!--フォルダ内画像一覧表示部ここまで -->

{% endblock %}
