{% extends 'base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">File uploaded successfully. You have uploaded an image of</p>
    <h1 class="display-4">{{name}}!</h1>
    <p class="mt-5">Confidence: <strong>{{confidence}}%</strong></p>
    <p class="mt-5"> <a href="/">もう一度作成する</a></p>
    <a class="p-2 text-dark" href="/see_other">他の人の作品を見る</a>
    <a class="p-2 text-dark" href="https://suzuri.jp/">この模様でグッズを作る</a>
</div>

{% endblock %}
