
{% extends 'base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">File uploaded successfully. You have uploaded an image of</p>
    <h1 class="display-4">{{name}}!</h1>
    <p class="mt-5">Confidence: <strong>{{confidence}}%</strong></p>
    <div class="my-2">
        <img style="max-width: 600px; width: 100%;" src="{{ url_for('static', filename=generated_image) }}" alt="">
    </div>
    

    <p class="mt-5"> <a href="/">もう一度作成する</a></p>
    <a href="/static/img/1426,420.png" download="AInu.png">画像を保存</a>
    <a class="p-2 text-dark" href="https://suzuri.jp/">この模様でグッズを作る</a>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="line-it-button" data-lang="ja" data-type="share-b" data-ver="3" data-url="http://127.0.0.1:3000/" data-color="default" data-size="small" data-count="true" style="display: none;"></div>
    <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
</div>

{% endblock %}
