{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!-- Bootstrap core JavaScript(jQuery)
    ================================================== -->
    <script>
        $(document).ready(function(){
        $('img').hide();
        //$('text-white').hide();
        var exit_count = 0;
        var elems_count = 0;
        function repeat_show(elems$) {
        elems_count = elems$.length;
        elems$.eq(exit_count).show('fast', function() {
        exit_count ++;
            if(exit_count < elems_count) {
            repeat_show(elems$);
            }
        });
        }
        repeat_show($('img'));

        $('.display-4').hide().fadeIn(1000);
        $('.card-img-overlay').css("display" , "table-cell");
        $('.card-img-overlay').css("vertical-align" , "middle");
        $('.card-img-overlay').css("text-align" , "center");


        $('img').hover(function (){
            $(this).stop().animate({"opacity":"0.5"});
            //$('.text-white').fadeIn();
        },function (){
            $(this).stop().animate({"opacity":"1"});
            //$('.text-white').fadeOut();
        });
        });
    </script>
    <!-- end
    ================================================== -->
    
    <div class="px-0">
        <div class="py-0">
            <div class="my-0 text-center card" id= "IntroductionImage1">
                <img class= "card-img"style="max-width: none; width: 100%; height: 100%;" src="/static/img/clothimage1.JPG" alt="">
                <div class="card-img-overlay">
                    <p class="text-white h3"><br><br><br><br>こちらは北海道大学植物園の博物館に保管されている
                        <br><br><br><br>昭和初期に収集された
                        <br><br><br><br>実際にアイヌ民族が着用していた衣服です
                        <br><br><br><br>今回はこの衣服を例に
                        <br><br><br><br>アイヌ文様の魅力についてご紹介します
                </div>
            </div>

            <div class="my-2 text-center card" id= "IntroductionImage2">
                <img class= "card-img"style="max-width: none; width: 100%; height: 100%;" src="/static/img/partofimage1.JPG" alt="">
                <div class="card-img-overlay">
                    <p class="text-white h3"><br><br><br><br>アイヌ文様と言えば
                        <br><br><br><br>丸いトグロを巻いた"モレウ"や十字模様などの平面図形が有名ですが
                        <br><br><br><br>それとは異なる緻密な刺繍にも魅力があります
                        <br><br><br><br>こちらの刺繍は外部の刺繍とは違った色の刺繍糸で
                        <br><br><br><br>二重に襟から裾まで施されていて、細部に様々な工夫がなされています
                        <img style="max-width: none; width: 10%; position: absolute; top:400px; left:250px" src="/static/img/hand-pointer-blue-lotate1.png" alt="">
                        <img style="max-width: none; width: 5%;  position: absolute; top:320px; left:700px" src="/static/img/hand-pointer-blue-lotate2.png" alt="">
                        
                </div>
            </div>

            <div class="my-2 text-center card" id= "IntroductionImage3">
                <img class= "card-img"style="max-width: none; width: 100%; height: 100%;" src="/static/img/partofimage2.JPG" alt="">
                <div class="card-img-overlay">
                    <p class="text-white h3">
                        <br><br><br><br><br><br>また他の生地とつなぎ合わされているこちらの部分も
                        <br><br><br><br><br><br>まるでパッチワークのように
                        <br><br><br><br><br><br>とても細かく縫い合わされています
                </div>
            </div>

            <div class="my-2 text-center card" id= "IntroductionImage4">
                <img class= "card-img"style="max-width: none; width: 100%; height: 100%;" src="/static/img/clothimage1.JPG" alt="">
                <div class="card-img-overlay">
                    <p class="text-white h3"><br><br><br><br>アイヌ文様と言えば
                        
                        <br><br><br>今回私たちは平面的なパターンを抜き出し
                        <br><br><br>アイヌ民族の文化を学ぶ間口を広げるきっかけとなるような
                        <br><br><br>アプリケーションの開発をしました
                        <br><br><br>しかしこのように
                        <br><br><br>平面的なパターンがアイヌ模様の全てではなく
                        <br><br><br>実際のものに触れることで
                        <br><br><br>わかる魅力があることを知って欲しいです
                        <br><br><br>また模様を作成するだけにとどまらず
                        <br><br><br>実物を見たい知りたい
                        <br><br><br>アイヌ文化をより知りたいという気持ちを
                        <br><br><br>持っていただけたら幸いです
                        
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}