{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!-- Bootstrap core JavaScript(jQuery)
    ================================================== -->
    <script>
        $(document).ready(function(){
        $('img').hide();
        //$('text-white').hide();
        var exit_count = 0;
        var elems_count = 0;
        function repeat_show(elems$) {
        elems_count = elems$.length;
        elems$.eq(exit_count).show('fast', function() {
        exit_count ++;
            if(exit_count < elems_count) {
            repeat_show(elems$);
            }
        });
        }
        repeat_show($('img'));

        $('.display-4').hide().fadeIn(1000);
        $('.card-img-overlay').css("display" , "table-cell");
        $('.card-img-overlay').css("vertical-align" , "middle");
        $('.card-img-overlay').css("text-align" , "center");


        $('img').hover(function (){
            $(this).stop().animate({"opacity":"0.5"});
            //$('.text-white').fadeIn();
        },function (){
            $(this).stop().animate({"opacity":"1"});
            //$('.text-white').fadeOut();
        });
        });
    </script>
    <!-- end
    ================================================== -->
    
    <div class="px-0">
        <div class="py-0">
            <div class="my-0 text-center card" id= "IntroductionImage1">
                <img class= "card-img"style="max-width: none; width: 100%; height: 100%;" src="/static/img/clothimage1.JPG" alt="">
                <div class="card-img-overlay">
                    <p class="text-white h3"><br><br><br><br>こちらは北海道大学植物園の博物館に保管されているアイヌ民族の衣装です
                        <br><br><br><br>昭和初期に収集されたもので
                        <br><br><br><br>実際にアイヌ民族が着用していた痕跡が残されています
                        <br><br><br><br>今回はこの衣服を私たちが実際に見て感じた
                        <br><br><br><br>アイヌ文様の魅力についてご紹介します
                </div>
            </div>

            <div class="my-2 text-center card" id= "IntroductionImage2">
                <img class= "card-img"style="max-width: none; width: 100%; height: 100%;" src="/static/img/partofimage1.JPG" alt="">
                <div class="card-img-overlay">
                    <p class="text-white h3"><br><br><br>この文様の衣服は切り抜いた白い布でアップリケした上に
                        <br><br><br>刺しゅうが重ねられています
                        <br><br><br>刺しゅう糸の色は4色で
                        <br><br><br>紺色の糸の刺しゅうをメインに、白、水色、薄いピンクの糸が寄り添うように
                        <br><br><br>時にはすきまを塗りつぶすように施されています
                        <br><br><br>こんなふうにとても丁寧な手仕事が現代に残されているのは
                        <br><br><br>博物館が収集・保管してくれたから。
                        <img style="max-width: none; width: 10%; position: absolute; top:290px; left:260px" src="/static/img/hand-pointer-blue-lotate1.png" alt="">
                        <img style="max-width: none; width: 4%;  position: absolute; top:348px; left:650px" src="/static/img/hand-pointer-blue-lotate2.png" alt="">
                        
                </div>
            </div>

            <div class="my-2 text-center card" id= "IntroductionImage3">
                <img class= "card-img"style="max-width: none; width: 100%; height: 100%;" src="/static/img/partofimage2.JPG" alt="">
                <div class="card-img-overlay">
                    <p class="text-white h3">
                        <br><br><br><br><br>上から見ると平面的な文様も
                        <br><br><br><br><br>少し角度を変えると刺しゅうで盛り上がった、わずかな凹凸がわかります。
                        <br><br><br><br><br>この立体感から陰影が生まれ
                        <br><br><br><br><br>木綿の衣服にさらなる味わいを与えているように感じます。
                </div>
            </div>

            <div class="my-2 text-center card">
                <img class= "card-img"style="max-width: none; width: 100%; height: 100%;" src="/static/img/1426px,840px3.png" alt="">
                <div class="card-img-overlay">
                    <p class="text-white h3">
                        <br><br><br>今回私たちが開発したアプリケーションでは、
                        <br><br><br>アイヌ文様が施された木綿衣から平面的なパターンを抜き出して学習し
                        <br><br><br>オリジナル文様を生成できます
                        <br><br><br>しかし実際の衣服にはパターンだけではない、たくさんの工夫と気づきがありました
                        <br><br><br>このアプリケーションをきっかけに
                        <br><br><br>より多くのみなさんがアイヌ文様と博物館資料に親しんでくださらんことを
                        <br><br><br>
                        
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}