{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!-- Bootstrap core JavaScript(jQuery)
    ================================================== -->
    <script>
    $(document).ready(function(){
        $('img').hide();
    var exit_count = 0;
    var elems_count = 0;
    function repeat_show(elems$) {
    elems_count = elems$.length;
    elems$.eq(exit_count).show('slow', function() {
    exit_count ++;
    if(exit_count < elems_count) {
    repeat_show(elems$);
        } 
    });  
    }
    repeat_show($('img'));
    });

    </script>
    <!-- end
    ================================================== -->

    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h1 class="display-4">Test page</h1>
            <div class="my-2">
                <img style="max-width: none; width: 100%;" src="/static/img/1426,420.png" alt="">
            </div>
            <div class="my-2">
                <img style="max-width: none; width: 100%;" src="/static/img/1426,420.png" alt="">
            </div>
            <div class="my-2">
                <img style="max-width: none; width: 100%;" src="/static/img/1426,420.png" alt="">
            </div>
            <div class="my-2">
                <img style="max-width: none; width: 100%;" src="/static/img/1426,420.png" alt="">
            </div>
            <div class="my-2">
                <img style="max-width: none; width: 100%;" src="/static/img/1426,420.png" alt="">
            </div>
            <p class="lead">ここはsee_othereです
            </p>
        </div>
    </div>
</div>
{% endblock %}