{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!-- Bootstrap core JavaScript(jQuery)
    ================================================== -->
    <script>
        $(document).ready(function(){
        $('img').hide();
        var exit_count = 0;
        var elems_count = 0;
        function repeat_show(elems$) {
        elems_count = elems$.length;
        elems$.eq(exit_count).show('fast', function() {
        exit_count ++;
            if(exit_count < elems_count) {
            repeat_show(elems$);
            }
        });
        }
        repeat_show($('img'));
        $('.display-4').hide().fadeIn(1000);
        $('.twitter-share-button').css("display" , "none");
        $('img').hover(function (){
            $(this).stop().animate({"opacity":"0.5"});
            $('.twitter-share-button, .line-it-button').fadeIn();
        },function (){
            $(this).stop().animate({"opacity":"1"});
            $('.twitter-share-button, .line-it-button').fadeOut();
        });
        });
    </script>
        <!-- end
        ================================================== -->
    
    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h1 class="display-4">Test page</h1>
            <div class="my-2">
                <img style="max-width: none; width: 100%;" src="/static/img/1426,420.png" alt="">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="true">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <div class="line-it-button" data-lang="ja" data-type="share-b" data-ver="3" data-url="http://127.0.0.1:3000/" data-color="default" data-size="small" data-count="true" style="display: none;"></div>
                <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
            </div>
            <div class="my-2" id= "OtherImage1">
                <img style="max-width: none; width: 100%;" src="/static/img/1426,420.png" alt="">
            </div>
            <div class="my-2" id= "OtherImage2">
                <img style="max-width: none; width: 100%;" src="/static/img/1426,420.png" alt="">
            </div>
            <div class="my-2" id= "OtherImage3">
                <img style="max-width: none; width: 100%;" src="/static/img/1426,420.png" alt="">
            </div>
            <div class="my-2" id= "OtherImage4">
                <img style="max-width: none; width: 100%;" src="/static/img/1426,420.png" alt="">
            </div>
            <p class="lead">ここはsee_othereです
            </p>
        </div>
    </div>
</div>
{% endblock %}