{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h1 class="display-4">Test page</h1>
            <div class="my-2">
                <img style="max-width: 600px; width: 100%;" src="{{ url_for('static', filename='img/books.jpg') }}" alt="">
            </div>
            <p class="lead">アイヌ民族文化を社会の全ての人にとってより身近なものにしたい<br>
                北海道は古来よりアイヌ民族という先住民族が住んできた土地であり、日本の中でもアイヌ文化に親しみが湧きやすい地域です。しかしながら、アイヌ文化を熟知している人の数が限られていることから日常的にアイヌ文化と接する機会は不十分であり、北海道に在住している場合でも、アイヌ文化を理解することはいまだハードルが高い状態が続いています。
                <br>このことから、アイヌ民族の文化を効果的に発信および継承することを可能とするアプリケーションの開発が必要であると考えました。ここで、アイヌ政策に関する世論調査において、アイヌ民族を知っていると答えた一般の市民の中で、最も認知度が高いものはアイヌ文様であるという報告がされています[1]。また、文化の継承を目的として機械学習技術を用いたアイヌ語の自動音声認識・合成技術の開発も行われています[2]。そこで我々は、これらの報告に着目して、機械学習を用いてアイヌ文様の自動生成を行うアプリケーションの開発に試みます．<br>
            </p>
        </div>
    </div>
</div>
{% endblock %}